/* Custom styles */
body {
    font-family: Arial, sans-serif;
}


header .container {
    position: relative;
    z-index: 2;
}

header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

header h1, header p, header a {
    z-index: 3;
    position: relative;
}
.chat-box {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
}
.chat-box textarea {
    width: 100%;
    height: calc(100% - 40px);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}
.toggle-button {
    z-index: 99;
    position: fixed;
    bottom: 420px;
    right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


